version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
      target: builder
    container_name: server-ims-dev
    restart: always
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=clave123
      - DB_DATABASE=ims_upt
      - DB_PORT=3306
      - SECRET=${SECRET}
      - GOOGLE_GEN_AI_KEY=${GOOGLE_GEN_AI_KEY}
    volumes:
      - ./:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - mysql

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: builder
    container_name: client-ims-dev
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - VITE_API_URL=http://localhost:4000
    depends_on:
      - server

  mysql:
    image: mysql:8.0
    container_name: mysql-ims-dev
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: clave123
      MYSQL_DATABASE: ims_upt
    volumes:
      - mysql_data_dev:/var/lib/mysql

volumes:
  mysql_data_dev:
